.cell {
    border: 1px dashed;
    margin: 5px;

    .header {
        display: inline-block;
        padding: 5px;
        background-color: white;
        margin-right: 5px;
        min-width: 100px;

        &.special {
            background-color: #FAC898;
        }
        &.red {
            background-color: #FF6961;
        }
        &.blue {
            background-color: #A7C7E7;
        }
        &.green {
            background-color: #BADA55;
        }
    }
}